body { 
    background-color: dimgray;
    overflow-y: scroll;
    color: aliceblue;
    max-height: 100%;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a:hover {
    text-decoration: none;
    color: black;  
    transition: 0.6s; 
}
.navbar ul li a {
    text-decoration: none;
    color: #fff; 
    background-color: gray; 
}

img {
    display: flex;
    width: 220px;
    margin-left: 70px;
    margin-bottom: -240px;
    top: -60px;
}

.navbar img {
    margin-top: -245px;
    margin-left: -30px;
    margin-right: 170px;
}

div.cipo h1 {
display: block;
margin-left: 70px;
font-size: 30px;
margin-top: 370px;
margin-left: 228px;
}

img {
    display: block;
    margin-left: 260px;
    margin-top: 120px;
}

div h2.ar {
    display: block;
    margin-left: 298px;
    margin-top: -140px;
}

div.tudniv ul.tudnivalok {
    font-size: 25px;
    margin-left: 860px;
    margin-top: 40px;
}
div.tudniv h3 {
    display: block;
    margin-left: 840px;
    font-size: 30px;
    margin-top: -270px;
}

button {
    background-color: gray;
}